header{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: orangered;
  color: white;
}

.cards-container {
  border: 1px solid #d5d5d5;
  border-radius: 4px;
  width: 200px;
  height: fit-content;
  background-color:#f1f1f1;
  margin: 10px;
  padding: 10px;
}

.home-page {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
}

footer{
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: orangered;
  height: 50px;
  width: 100%;
  position: absolute;
  bottom: 0;
}

p:first-of-type{
  color: blue;
}


